<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Flowmeter - Panel</title>
		<link rel="stylesheet" href="/auth/style/flowmeter-panel.css">
</head>
<body>
		<div th:insert="~{parts/header}"></div>

		<div class="panel">
				<div class="flow-panel">
						<div class="flows-container" id="flow-container">
								<!--inserting here by templates-->
						</div>
						<div class="create-flow">
								<button id="create-flow-btn">+</button>
						</div>
				</div>
				<div class="management-panel">
						<div class="timeline-panel">
								<div class="timeline-wrapper">
										<div class="timeline" id="steps-container">
												<!--inserting here by templates-->
										</div>
										<div class="create-step-btn-holder" id="create-step-btn-holder">
												<!--inserting here by templates-->
										</div>
								</div>
						</div>
						<div class="case-block">
								<div class="cases" id="case-container">
										<!--inserting here by templates-->
								</div>
								<div class="create-case-btn-holder" id="create-case-btn-holder">
										<!--inserting here by templates-->
								</div>
						</div>
				</div>
		</div>

		<div class="modal hidden" id="create-flow-modal-window">
				<div class="modal-content">
						<div class="modal-title">
								<h1>Create flow</h1>
						</div>
						<form id="create-flow-form">
								<div class="form-inputs">
										<div class="form-input-item">
												<h3>Title:</h3>
												<input type="text" id="create-flow-title">
										</div>
										<div class="form-input-item">
												<h3>Description:</h3>
												<textarea rows="1" id="create-flow-description"></textarea>
										</div>
										<div class="form-input-item">
												<h3>Target percentage:</h3>
												<input type="number" min="0" max="100" id="create-flow-percentage">
										</div>
								</div>
								<div id="submit-create-flow-btn-holder">
										<button id="submit-create-flow-btn">Create</button>
								</div>
						</form>
				</div>
		</div>

		<div th:insert="~{html-tmp/flowmeter-templates :: body}"></div>

		<script type="module" src="/auth/js/flow-meter.js"></script>
</body>
</html>