<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Flowmeter - Statistics</title>
		<link rel="icon" type="image/x-icon" href="/pub/media/favicon.ico">
		<link rel="stylesheet" href="/pub/style/reset.css">
		<link rel="stylesheet" href="/auth/style/statistics.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		      rel="stylesheet">
</head>
<body>
<div th:insert="~{parts/header}"></div>

<!-- CONTENT -->
<div class="statistics-page kanit-regular">
		<div class="options">
				<div class="tab-buttons">
						<button id="flow-tab-btn" class="tab-button tab-button--active">Flows</button>
						<button id="scope-tab-btn" class="tab-button">Scope</button>
				</div>
				<div class="tabs">
						<div class="tab" id="flow">
								<h2 class="tab__title">Flows</h2>
								<div class="flows scroll" id="option-flow-list">
										<!-- inserting here by templates -->
								</div>
						</div>
						<div class="tab hidden scroll" id="scope">
								<h2 class="tab__title">Scope</h2>
								<div class="scope-parameters">
										<div class="scope-parameters__quick-range-buttons">
												<button class="quick-range-button" id="last-week-qb">Last week</button>
												<button class="quick-range-button" id="last-month-qb">Last month</button>
												<button class="quick-range-button" id="last-year-qb">Last year</button>
										</div>
										<div class="bottom-side-wrapper">
												<div class="month-picker">
														<h3 class="month-picker__title">Choose month</h3>
														<div class="month-picker__months-list scroll" id="months-list">
																<!-- inserting here by templates -->
														</div>
												</div>
												<button class="generate-button">Generate</button>
										</div>
								</div>
						</div>
				</div>
		</div>

		<div class="graphic-display">
				<p>hello pppppp </p>
		</div>
</div>

<div th:insert="~{html-tmp/statistics-templates :: body}"></div>
<script type="module" src="/auth/js/statistics.js"></script>

</body>
</html>