<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>flowmeter-templates</title>
</head>
<body>

		<template id="flow-item-template">
						<div class="flow-item" id="flow-item" >Flow inner</div>
		</template>


		<template id="flow-not-found-label-template">
				<div class="flows-is-empty">Empty</div>
		</template>


		<template id="step-item-template">
				<div class="step-item" id="step">date</div>
		</template>


		<template id="create-step-btn-template">
				<button id="create-step-btn">Add</button>
		</template>


		<template id="case-wrapper-template">
				<div class="case" id="case"></div>
		</template>


		<template id="case-template">
				<div class="case-info">
						<div id="case__text">case-text-here</div>
						<div id="case__percent">case-percent-here</div>
				</div>
				<button id="case__edit-btn">Edit</button>
		</template>


		<template id="case-edit-template">
				<div class="case-edit-input">
						<textarea id="case-edit__text" rows="1"></textarea>
						<div class="case-edit__percent-wrapper">
								<input id="case-edit__counting" type="checkbox">
								<input id="case-edit__percent" type="number">
						</div>
				</div>
				<div class="case-edit__error">
						<p id="case-edit__error-message">Default error message</p>
				</div>
				<button id="case-edit__save-btn">Save</button>
				<button id="case-edit__cancel-btn">Cancel</button>
		</template>


		<template id="create-case-btn-template">
				<button id="create-case-btn">Add new case</button>
		</template>


		<template id="flow-details-template">
				<div class="flow-details">
						<div class="flow-details-content">
								<h3 id="flow-details__title"></h3>
								<p  id="flow-details__description"></p>
								<p id="flow-details__percentage">
										Target percentage:
										<span id="flow-details__percentage-value">0</span>
										%
								</p>
						</div>
						<div class="flow-details-controls">
								<button id="flow-details__edit-btn">Edit</button>
						</div>
				</div>
		</template>


		<template id="flow-details-edit-template">
				<div class="flow-details">
						<form id="flow-details-edit__form">
								<input id="flow-details-edit__title" value="fdsaf">
								<textarea id="flow-details-edit__description" rows="1"></textarea>
								<p id="flow-details-edit__percentage">
										Percentage:
										<input id="flow-details-edit__percentage-value" type="number">
								</p>
								<div class="flow-details-edit__error">
										<p id="flow-details-edit__error-message">Default error message</p>
								</div>
								<div class="flow-details-edit__buttons">
										<button id="flow-details-edit__save-btn">Save</button>
										<button id="flow-details-edit__cancel-btn">Cancel</button>
								</div>
						</form>
				</div>
		</template>


</body>
</html>