<!DOCTYPE html>
<html lang="en">
<body>


		<template id="profileTitle-template">
				<h1>
						<span class="profile__title-label">Profile</span>
						-
						<span class="profile__title-value milk-wrap" id="profile__title-value">maybyes</span>
				</h1>
		</template>


		<template id="profileItem-template">
				<div class="item-row">
						<span class="item__label" id="item__label">Firstname: </span>
						<span class="item__value milk-wrap" id="item__value">Vasil</span>
				</div>
		</template>


		<template id="profileBtnContainer-template">
				<div class="profile__btn-holder auto-hide-btn-holder"></div>
		</template>


		<template id="profileBtn-template">
						<button class="profile__btn auto-hide-btn" id="profile__btn">Edit personal info</button>
		</template>


		<template id="editPersonalInfo-template">
				<form class="profile-edit">
						<div class="input__item">
								<span class="input__label">Firstname:</span>
								<input class="input__value" id="personal-info__firstname" type="text">
						</div>
						<div class="input__item">
								<span class="input__label">Lastname:</span>
								<input class="input__value" id="personal-info__lastname" type="text">
						</div>
						<div class="input__item">
								<span class="input__label">Patronymic:</span>
								<input class="input__value" id="personal-info__patronymic" type="text">
						</div>
						<div class="input__item">
								<span class="input__label">Date Of Birth:</span>
								<input class="input__value" id="personal-info__dateOfBirth" type="date">
						</div>
						<div class="input__item">
								<span class="input__label">Phone:</span>
								<input class="input__value" id="personal-info__phone" type="text">
						</div>
						<div class="edit__error">
								<p id="personal-info-edit__error-message">Default error message</p>
						</div>
						<div class="input__buttons">
								<button class="input__btn save-btn" id="personal-info__save-button">Save</button>
								<button class="input__btn cancel-button" id="personal-info__cancel-button">Cancel</button>
						</div>
				</form>
		</template>


		<template id="editCredentials-template">
				<form class="profile-edit">
						<div class="input__item">
								<span class="input__label">Login:</span>
								<input class="input__value" id="credentials__login" type="text">
						</div>
						<div class="input__item">
								<span class="input__label">Email:</span>
								<input class="input__value" id="credentials__email" type="text">
						</div>
						<div class="edit__error">
								<p id="credential-edit__error-message">Default error message</p>
						</div>
						<div class="input__buttons">
								<button class="input__btn save-btn" id="credentials__save-button">Save</button>
								<button class="input__btn cancel-button" id="credentials__cancel-button">Cancel</button>
						</div>
				</form>
		</template>


		<template id="editPassword-template">
				<form class="profile-edit" id="profile-edit__password">
						<div class="input__item">
								<span class="input__label">Current password:</span>
								<input class="input__value" id="password__current" type="password">
						</div>
						<div class="input__item">
								<span class="input__label">New password:</span>
								<input class="input__value" id="password__new" type="password">
						</div>
						<div class="input__item">
								<span class="input__label">Repeat new password:</span>
								<input class="input__value" id="password__new-repeat" type="password">
						</div>
						<div class="edit__error">
								<p id="password-edit__error-message">Default error message</p>
						</div>
						<div class="input__buttons">
								<button class="input__btn save-btn" id="password__save-button">Save</button>
								<button class="input__btn cancel-button" id="password__cancel-button">Cancel</button>
						</div>
				</form>
		</template>


</body>
</html>