<!DOCTYPE html>
<html lang="en">
<body>


		<template id="profile-title-template">
				<h1>
						<span class="profile__title-label">Profile</span>
						-
						<span class="profile__title-value milk-wrap" id="profile__title-value">maybyes</span>
				</h1>
		</template>


		<template id="profile-item-template">
				<div class="item-row">
						<span class="item__label" id="item__label">Firstname: </span>
						<span class="item__value milk-wrap" id="item__value">Vasil</span>
				</div>
		</template>


		<template id="profile-btn-template">
				<div class="profile__btn-holder auto-hide-btn-holder">
						<button class="profile__btn auto-hide-btn" id="profile__btn">Edit personal info</button>
				</div>
		</template>


</body>
</html>