<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Statistics templates</title>
</head>
<body>

<!-- TEMPLATES FOR STATISTICS PAGE -->

		<template id="flow-template">
				<p class="flow">Flow</p>
		</template>

		<template id="flowNotFoundLabel-template">
				<p class="not-found-any-flow">No one flow found</p>
		</template>

		<template id="monthItem-template">
				<button class="month-picker__month-item">
						<span class="month-item__month">September</span>
						<span class="month-item__year">2024</span>
				</button>
		</template>

</body>
</html>