<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Registration</title>
		<link rel="stylesheet" href="/public/style/registration.css">
</head>
<body>
		<div th:insert="~{parts/header}"></div>

		<div class="registration">
				<div class="container">
						<div class="registration-form-holder">
								<div class="registration-title">
										<h1>Registration</h1>
								</div>
								<form class="registration-form" id="registration-form">
										<table class="registration-table">
												<tr>
														<td><span class="field-label">Login</span></td>
														<td><input class="field-input" id="login" type="text" placeholder="Required" required></td>
												</tr>
												<tr>
														<td><span class="field-label">Email</span></td>
														<td><input class="field-input" id="email" type="email" placeholder="Required" required></td>
												</tr>
												<tr>
														<td><span class="field-label">Password</span></td>
														<td><input class="field-input" id="password" type="password" placeholder="Required" required></td>
												</tr>
												<tr>
														<td><span class="field-label">Confirm password</span></td>
														<td><input class="field-input" id="password-confirmation" type="password" placeholder="Required" required></td>
												</tr>
												<tr>
														<td><span class="field-label">Firstname</span></td>
														<td><input class="field-input" id="firstname" type="text"></td>
												</tr>
												<tr>
														<td><span class="field-label">Lastname</span></td>
														<td><input class="field-input" id="lastname" type="text"></td>
												</tr>
												<tr>
														<td><span class="field-label">Patronymic</span></td>
														<td><input class="field-input" id="patronymic" type="text"></td>
												</tr>
												<tr>
														<td><span class="field-label">Phone</span></td>
														<td><input class="field-input" id="phone" type="text"></td>
												</tr>
												<tr>
														<td><span class="field-label">Date of birth</span></td>
														<td><input class="field-input field-input-center" id="date-of-birth" type="date"></td>
												</tr>
										</table>
										<button class="registration-btn" id="registrationBtn" type="submit">Register</button>
										<div class="registration-error">
												<p class="registration-error-message" id="registration-error-holder">Default error message</p>
										</div>
										<div class="login-block">
												<span class="login-link-text">Already have an account?</span>
												<a class="login-link" href="/login">Login</a>
										</div>
								</form>
						</div>
				</div>
		</div>

		<script src="/public/js/registration.js"></script>
</body>
</html>