<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<link rel="icon" type="image/x-icon" href="/pub/media/favicon.ico">
		<link rel="stylesheet" href="/pub/style/login.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
		<div th:insert="~{parts/header}"></div>

		<div class="login kanit-regular">
				<div class="container">
						<div class="login-form-holder">
								<form id="login-form">
										<label class="form__input-item">
												<span class="form__label">Login</span>
												<input class="form__input" type="text" name="username" id="username">
										</label>
										<label class="form__input-item">
												<span class="form__label">Password</span>
												<input class="form__input" type="password" name="password" id="password">
										</label>

										<button class="form-login-btn" id="login-btn" type="submit">Login</button>

										<div class="login-error">
												<p id="login-error-message">Default error message</p>
										</div>

										<div class="registration-block">
												<span class="registration-link__text">Don't have account?</span>
												<a class="registration-link" href="/registration">Sign up</a>
										</div>
										<div id="google-oauthentication__block">
												<img src="/pub/media/icon/google-icon.png" alt="google icon">
												<p>Sign in with Google</p>
										</div>
								</form>
						</div>
				</div>
		</div>

		<script type="module" src="/pub/js/login.js"></script>
</body>
</html>