* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: rgb(20, 20, 20);
    overflow-y: auto;
}

/* стилізує скролбар, не шарю що тут та як */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #202020;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 3px solid #202020;
}

body::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

/* container */
.container {
    width: 80%;
    margin: 0 auto;
}

.face {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
    background: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.6)),
                url("../media/img/index-bg.jpeg") center no-repeat;
    background-size: cover;
    position: relative;
}

.face__title {
    font-size: 76px;
    letter-spacing: 0.2em;
    text-align: center;
    color: #ffffff;
    margin-top: -80px;
}

.face__suptitle {
    margin-top: 44px;

    font-size: 42px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.04em;
}

.try-button-holder  {
    margin-top: 60px;
    text-align: center;
}

.try-flowmeter-button {
    padding: 12px 36px;
    border: solid 3px #ffffff;
    border-radius: 20px;

    font-size: 36px;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #ffffff;

    background-color: rgba(0,0,0,20%);
    transition: color linear 0.07s,
                border linear 0.07s,
                background-color linear 0.07s,
                font-weight linear 0.07s,
                padding linear 0.07s;
}

.try-flowmeter-button:hover {
    color: #000000;
    border-color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(255,255,255, 80%);
    font-weight: 800;
    padding: 13px 36px;
}

/* about */
.about .container {
    border-left: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
}

.about-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 80%;
    margin: 50px auto;

    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.about__title {
    letter-spacing: 0.11em;
}

.about__text {
    margin-bottom: 15px;
}

.about-flowmeter-keyword {
    font-size: 32px;
    font-weight: 800;
    text-decoration: underline;
    letter-spacing: 0.11em;
}

.about-idea {
    margin-top: 40px;
}

.about-idea,
.about-goal {
    opacity: 40%;
    transition: opacity linear 0.25s;
}

.about-idea:hover,
.about-goal:hover {
    opacity: 100%;
}