* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */
.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    width: 100%;
    height: 100vh;
}

.panel {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: calc(100% - 80px);
}

.flow-panel {
    width: 20%;
    border: 2px solid #ffffff;

    background-color: #202020;

    padding: 35px;
    overflow-y: auto;
}

.flows-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flows-is-empty {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.1em;
    color: rgb(123, 123, 123);
}

.flow-item {
    padding: 15px;
    border: solid 2px #ffffff;
    border-radius: 10px;

    font-size: 30px;
    letter-spacing: 0.04em;

    color: #ffffff;
    background-color: #202020;
    cursor: pointer;

    opacity: 75%;
    transition: opacity linear 0.05s;
}

.flow-item:hover {
    opacity: 100%;
}

.flow-item.selected {
    opacity: 100%;
}

.create-flow {
    margin-top: 20px;
    border-top: solid 1px #ffffff;

    width: 100%;
    text-align: center;
}

#create-flow-btn {
    margin: 20px auto;
    padding: 4px 50px;
    border: solid 3px #ffffff;
    border-radius: 18px;

    font-size: 48px;

    color: #ffffff;
    background-color: #202020;
    cursor: pointer;

    transition: color linear 0.15s,
    background-color linear 0.15s,
    border linear 0.15s,
    box-shadow linear 0.15s;
}

#create-flow-btn:hover {
    border: solid 3px #202020;
    color: #202020;
    background-color: #ffffff;
    box-shadow: 0 0 14px rgba(255, 255, 255, 60%);
}

.management-panel {
    display: flex;
    flex-direction: column;

    width: 80%;
}

/* timeline-panel */
.timeline-panel {
    border: 2px solid #ffffff;
    padding: 20px;

    background-color: #202020;
    height: 15%;
}

.timeline-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.timeline {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 90%;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;

    background-color: #323232;
    border-radius: 16px;

    overflow-x: auto;
}

.step-item {
    color: #202020;
    border: solid 2px #202020;
    border-radius: 16px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.08em;
    background-color: #ffffff;

    cursor: pointer;

    transition: color linear 0.1s,
                background-color linear 0.1s,
                border linear 0.1s;
}

.step-item:hover {
    color: #ffffff;
    background-color: #202020;
    border: solid 2px #ffffff;
}

.step-item.selected {
    color: #ffffff;
    background-color: #202020;
    border: solid 2px #ffffff;

    font-size: 25px;
}

.create-step-btn-holder {
    margin: 20px;
}

#create-step-btn {
    padding: 12px 20px;
    border: solid 2px #ffffff;
    border-radius: 18px;

    color: #ffffff;
    background-color: #202020;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;

    transition: color linear 0.15s,
    background-color linear 0.15s,
    border linear 0.15s,
    box-shadow linear 0.15s;
}

#create-step-btn:hover {
    color: #202020;
    background-color: #ffffff;
    border: solid 2px #202020;
    box-shadow: 0 0 14px rgba(255, 255, 255, 60%);
}


/* case-block */
.case-block {
    display: flex;
    flex-direction: column;

    padding: 30px 60px;

    border: solid 1px #ffffff;
    background-color: rgb(50, 50, 50);
    height: 85%;
    overflow-y: auto;
}

#case-block__error {
    display: none;
    text-align: center;
}

#case-block__error-message {
    font-size: 30px;

    color: #f23636;
    letter-spacing: 0.07em;
}

.flow-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px;
    border-radius: 20px;
    margin-bottom: 35px;

    color: #ffffff;
    font-size: 30px;
    background-color: rgba(32, 32, 32, 50%);

    transition: box-shadow linear 0.1s;
}

.flow-details:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 70%);

    #flow-details__edit-btn {
        display: block;
    }
}

.flow-details-content {
    width: 90%;
}

.flow-details-controls {
    width: 10%;
    text-align: center;
}

#flow-details__title {
    margin-bottom: 20px;
}

#flow-details__description {
    color: #bfbfbf;
}

#flow-details__percentage {
    margin-top: 20px;
    font-weight: 500;
}

#flow-details__percentage-value {
    margin-left: 10px;
    font-weight: 400;
}

#flow-details__edit-btn {
    display: none;

    padding: 12px 38px;
    border: solid 3px #ffffff;
    border-radius: 20px;

    font-size: 30px;
    letter-spacing: 0.05em;
    cursor: pointer;
    color: #ffffff;
    background-color: #202020;

    transition: color linear 0.1s,
    background-color linear 0.1s,
    border linear 0.1s;
}

#flow-details__edit-btn:hover {
    color: #202020;
    background-color: #ffffff;
}

/* flow-detail-edit */
#flow-details-edit__form {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

#flow-details-edit__title {
    border-radius: 20px;
    padding: 5px 20px;

    font-size: 30px;
    letter-spacing: 0.04em;
}

#flow-details-edit__description {
    border-radius: 20px;
    padding: 5px 20px;

    font-size: 30px;
    letter-spacing: 0.04em;
}

#flow-details-edit__percentage {
    font-size: 32px;
    letter-spacing: 0.04em;
}

#flow-details-edit__percentage-value {
    width: 10%;
    border-radius: 20px;
    padding: 5px 20px;
    margin-left: 10px;

    font-size: 30px;
    letter-spacing: 0.04em;
}

.flow-details-edit__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flow-edit__button {
    padding: 10px 50px;
    border-radius: 20px;
    border: solid 2px #ffffff;

    background-color: #202020;
    color: #ffffff;

    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.05em;
    cursor: pointer;

    transition: color linear 0.1s,
    background-color linear 0.1s,
    border linear 0.1s,
    box-shadow linear 0.1s;
}

.flow-edit__button:hover {
    color: #202020;
    background-color: #ffffff;
}

#flow-details-edit__save-btn {
    margin: 10px 30px 10px 0;

    border-color: #7dc175;
    background-color: #202020;
    color: #8ed885;
}

#flow-details-edit__save-btn:hover {
    color: #202020;
    background-color: #8ed885;
    box-shadow: 0 0 25px rgba(142, 216, 133, 0.5);
}

#flow-details-edit__cancel-btn {
    margin: 10px 30px;

    border-color: #d62a2a;
    background-color: #202020;
    color: #d62a2a;

    transition: color linear 0.1s,
    background-color linear 0.1s,
    border linear 0.1s;
}

#flow-details-edit__cancel-btn:hover {
    color: #202020;
    background-color: #d62a2a;
    box-shadow: 0 0 25px rgba(206, 8, 8, 0.5);
}

#flow-details-edit__delete-btn {
    margin: 10px 0;

    border-color: #710c0c;
    background-color: #a50f0f;
    color: #202020;

    transition: color linear 0.1s,
    background-color linear 0.1s,
    border linear 0.1s;
}

#flow-details-edit__delete-btn:hover {
    color: #202020;
    background-color: #e02f2f;
    box-shadow: 0 0 25px rgba(206, 8, 8, 0.5);
}

.flow-details-edit__error {
    display: none;
    text-align: center;

    width: 100%;
}

#flow-details-edit__error-message {
    width: 85%;
    margin: 0 auto;

    font-size: 24px;
    letter-spacing: 0.06em;
    line-height: 1.5;

    color: #f93f3f;
}

/* cases */
.cases {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#statistics-block {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 15px 30px;
    border-radius: 16px;

    background-color: rgba(255,255,255,10%);
}

#statistics-block:hover {
    .statistics__metrics-wrapper {
        max-height: 1000px;
    }
    .statistics__metrics {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}

#statistics-block .title {
    margin: 0;
    padding: 0;

    text-align: center;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.04em;

}

.title_green {
    color: green;
}

.title_red {
    color: red;
}

.title_yellow {
    color: yellow;
}

#statistics-block .statistics__metrics-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in-out 0.4s;
}

#statistics-block .statistics__metrics {
    color: white;
    font-size: 30px;

    opacity: 0;
    transform: translateY(-20px);
    transition: opacity ease-in-out 0.4s,
                transform ease-in-out 0.3s;
}

#statistics-block .metric-variables {
    border-bottom: solid 2px white;
}

#statistics-block .metric {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 400px;
}

#statistics-block .metric span {
    letter-spacing: 0.08em;
}

#statistics-block .metric-total {
    margin-top: 14px;
}

.metric__value_red {
    color: red;
}

.metric__value_green {
    color: green;
}

.metric__value_yellow {
    color: yellow;
}

.case {
    padding: 20px 40px 0 40px;

    font-size: 38px;

    color: #ffffff;
    background-color: rgba(32, 32, 32, 100%);
    border: solid 2px #ffffff;
    border-radius: 16px;

    transition: padding linear 0.15s;
}

.case:hover {
    padding: 20px 40px;

    .case-btn {
        opacity: 1;
        margin-top: 30px;
        font-size: 26px;
        font-weight: 600;
        padding: 6px 40px;
        cursor: pointer;
    }
}

.case-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.case__error {
    display: none;
    text-align: center;
    margin-top: 20px;

    width: 100%;
}

#case__error-message {
    width: 85%;
    margin: 0 auto;

    font-size: 24px;
    letter-spacing: 0.06em;
    line-height: 1.5;

    color: #f93f3f;
}

.case__buttons {
    display: flex;
    justify-content: space-between;
}

.case-btn {
    opacity: 0;
    border-radius: 15px;

    color: #ffffff;
    background-color: #3f3f3f;
    border: solid 2px #ffffff;

    transition: opacity linear 0.15s,
    margin-top linear 0.15s,
    font-size linear 0.15s,
    font-weight linear 0.15s,
    padding linear 0.1s;
}

.case-btn:hover {
    color: #202020;
    background-color: #ffffff;
    border-color: #202020;
    box-shadow: 0 0 15px rgba(255, 255, 255, 60%);
}

#case__delete-btn {
    border-color: #710c0c;
    background-color: #a50f0f;
    color: #202020;
}

#case__delete-btn:hover {
    color: #202020;
    background-color: #e02f2f;
    box-shadow: 0 0 25px rgba(206, 8, 8, 0.5);
}

.case-edit-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#case-edit__text {
    resize: none;
    width: 80%;
    padding: 5px 20px;
    border-radius: 20px;

    font-size: 35px;
}

.case-edit__percent-wrapper {
    display: flex;
    align-items: center;
    width: 15%;
}

#case-edit__counting {
    width: 70px;
    height: 70px;
    margin-right: 25px;
}

.case-edit__percent-wrapper:after {
    content: "%";
    margin-left: 10px;
}

#case-edit__percent {
    width: 100%;
    padding: 5px 10px;
    border-radius: 20px;

    text-align: center;
    font-size: 35px;
}

.case-edit__error {
    display: none;
    text-align: center;
    margin-top: 20px;

    width: 100%;
}

#case-edit__error-message {
    width: 85%;
    margin: 0 auto;

    font-size: 24px;
    letter-spacing: 0.06em;
    line-height: 1.5;

    color: #f93f3f;
}

#case-edit__save-btn {
    margin-right: 30px;

    color: #8ed885;
    background-color: #202020;
    border: solid 2px #7dc175;
}

#case-edit__save-btn:hover {
    color: #202020;
    background-color: #7dc175;
    box-shadow: 0 0 25px rgba(142, 216, 133, 0.3);
}

#case-edit__cancel-btn {
    margin-right: 30px;

    color: #d62a2a;
    background-color: #202020;
    border: solid 2px #d42424;
}

#case-edit__cancel-btn:hover {
    color: #202020;
    background-color: #d62a2a;
    box-shadow: 0 0 25px rgba(206, 8, 8, 0.3);
}

#step-header {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: 10px 0 50px;
}

.step-header__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    gap: 40px;
}

.step__button {
    padding: 10px 40px;
    border: solid 2px #ffffff;
    border-radius: 18px;

    font-size: 32px;
    letter-spacing: 0.05em;

    color: #ffffff;
    background-color: #202020;
    cursor: pointer;

    transition: color linear 0.1s,
                background-color linear 0.1s,
                border linear 0.1s,
                box-shadow linear 0.1s;
}

.step__button:hover {
    color: #202020;
    background-color: #ffffff;
    border-color: #000000;
    box-shadow: 0 0 15px rgba(255, 255, 255, 60%);
}

#delete-current-step-btn {
    font-size: 26px;
    font-weight: 700;
    background-color: #a50f0f;
    color: #202020;
    border-color: #202020;
}

#delete-current-step-btn:hover {
    box-shadow: 0 0 25px rgba(206, 8, 8, 0.5);
    background-color: #cb1818;
}

.hidden {
    display: none;
}


/* modal */
/* create flow */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 60%);
}

.modal-content {
    width: 60%;
    min-height: 10%;
    padding: 50px;

    border: solid 3px #ffffff;
    border-radius: 30px;

    background-color: rgba(32, 32, 32, 100%);
}

.modal-title {
    margin-bottom: 35px;

    text-align: center;
    font-size: 24px;
    letter-spacing: 0.075em;

    color: #ffffff;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 100%;
    padding: 20px;
}

.form-input-item {
    display: flex;
    justify-content: space-between;
}

.form-input-item h3 {
    font-size: 36px;

    letter-spacing: 0.025em;
    color: #ffffff;
}

.form-input-item input[type="text"] {
    width: 55%;
    border-radius: 18px;
    padding: 10px;

    font-size: 28px;
}

.form-input-item textarea {
    resize: none;
    overflow-y: hidden;

    width: 55%;
    border-radius: 18px;
    padding: 10px;

    font-size: 28px;
}

.form-input-item input[type="number"] {
    width: 15%;
    border-radius: 18px;
    padding: 10px;

    font-size: 28px;
}

#create-flow-error-block,
#create-step-error-block,
#create-case-error-block {
    display: none;
    width: 100%;
}

#create-flow-error-message,
#create-step-error-message,
#create-case-error-message {
    width: 85%;
    margin: 20px auto;

    text-align: center;
    color: #f93f3f;
    font-size: 30px;
    letter-spacing: 0.09em;
    line-height: 1.3;
}

.btn-holder {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

#submit-create-flow-btn,
#submit-create-step-btn,
#submit-create-case-btn {
    padding: 15px 60px;
    border-radius: 18px;
    border: solid 3px #202020;

    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.04em;

    color: #202020;
    background-color: #ffffff;
}

#submit-create-flow-btn:hover,
#submit-create-step-btn:hover {
    border: dashed 3px #ffffff;
    color: #ffffff;
    background-color: #202020;
    box-shadow: 0 0 15px rgba(255, 255, 255, 60%);
}


/* create step */
#create-step-date {
    padding: 10px 30px;
    border: solid 3px #202020;
    border-radius: 20px;
    background-color: #fff;

    font-size: 35px;
}

/* create case */
#create-case-counting {
    width: 50px;
}