* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */
.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: #202020;
    color: #ffffff;
    overflow-y: auto;
}

/* стилізує скролбар, не шарю що тут та як */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #202020;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 3px solid #202020;
}

body::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.profile-block {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px - 60px);

    margin-top: 60px;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.profile-block__inner {
    border-radius: 20px;
}

#profile__title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.08em;
}

#profile__title span {
    margin: 0 15px;
}

#profile__title .profile__title-label {
    text-transform: uppercase;
}

#profile__title .profile__title-value {
}

.profile__item {
    background-color: rgba(255, 255, 255, 3.5%);
    border-radius: 8px;
    padding: 30px 60px;
    margin-top: 30px;

    font-size: 36px
}

.item-row {
    margin-top: 15px;
}

.item-row span {
    margin: 0 14px 0 0;
}

.item-row .item__label {
    text-transform: capitalize;
    letter-spacing: 0.03em;
}

.item-row .item__value {
    letter-spacing: 0.06em;
}

.profile__btn-holder {
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 50px 0 10px;
}

.profile__btn {
    font-size: 28px;
    font-weight: 600;
    padding: 12px 36px;
    background-color: #202020;
    color: #ffffff;
    border: solid 2px #ffffff;
    border-radius: 18px;
    letter-spacing: 0.06em;

    transition: color linear 0.1s,
                background-color linear 0.1s;
}

.profile__btn:hover {
    background-color: #fff;
    color: #202020;
    box-shadow: 0 0 12px rgba(255, 255, 255, 40%);
}

.profile__item:hover {
    .auto-hide-btn {
        font-size: 28px;
        padding: 12px 36px;
        opacity: 1;
    }

    .auto-hide-btn-holder {
        padding: 50px 0 10px;
        opacity: 1;
    }
}

.auto-hide-btn-holder {
    padding: 0;
    opacity: 0;

    transition: opacity linear 0.15s,
                padding linear 0.15s;
}

.auto-hide-btn {
    font-size: 0;
    padding: 0;
    opacity: 0;

    transition: opacity linear 0.15s,
                padding linear 0.15s,
                font-size linear 0.15s;
}

.milk-wrap {
    background-color: rgba(255, 255, 255, 8%);
    padding: 0 30px;
    border-radius: 30px;
}

.profile-edit {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input__item {
    display: flex;
    align-items: center;

    width: 50%;
}

.input__label {
    min-width: 33%;
    font-size: 36px;
    letter-spacing: 0.03em;
}

.input__value {
    width: 100%;
    font-size: 30px;
    letter-spacing: 0.04em;

    border-radius: 18px;
    padding: 3px 15px;
    color: #ffffff;
    background-color: #404040;
    border-color: #ffffff;
}

.profile-edit .input__buttons {
    display: flex;
    flex-direction: row;
    gap: 60px;

    margin-top: 40px;
}

.input__btn {
    padding: 8px 32px;
    border-radius: 18px;
    border: solid 2px #ffffff;
    background-color: rgba(20, 20, 20);
    color: #ffffff;

    font-size: 30px;
    letter-spacing: 0.03em;

    transition: color linear 0.15s,
                background-color linear 0.15s,
                border linear 0.15s,
                box-shadow linear 0.15s;
}

.input__btn:hover {
    color: #202020;
    background-color: #ffffff;
    box-shadow: 0 0 16px rgba(255, 255, 255, 40%);
}

.save-btn {
    color: #8ed885;
    border-color: #8ed885;
}

.save-btn:hover {
    color: #202020;
    border-color: #202020;
    background-color: #8ed885;
    box-shadow: 0 0 16px rgba(142, 216, 133, 40%);
}

.cancel-button {
    color: #f93f3f;
    border-color: #f93f3f;
}

.cancel-button:hover {
    color: #202020;
    border-color: #202020;
    background-color: #f93f3f;
    box-shadow: 0 0 16px rgba(249, 63, 63, 0.40);
}

.edit__error {
    display: none;
    text-align: center;
    margin-top: 20px;

    width: 100%;
}

.edit__error p {
    width: 85%;
    margin: 0 auto;

    font-size: 26px;
    letter-spacing: 0.06em;
    line-height: 1.5;

    color: #f93f3f;
}


/* password editor */

#profile-edit__password {
    .input__item {
        width: 60%;
    }

    .input__label {
        min-width: 45%;
    }
}

