<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Confirmation-window</title>
		<link rel="stylesheet" href="/pub/style/confirmation-window.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		      rel="stylesheet">
</head>
<body>
		<div class="hidden" id="confirmation-window">
				<div class="confirmation-window-block kanit-regular">
						<p id="confirmation-window__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam dicta eligendi et excepturi fuga fugit id itaque magnam officia optio perspiciatis quas quo reiciendis saepe sequi soluta vero, voluptates.</p>
						<div class="confirmation-window__buttons">
								<button class="confirmation-window__btn" id="confirmation-window__yes-btn">
										yes
								</button>
								<button class="confirmation-window__btn" id="confirmation-window__no-btn">
										no
								</button>
						</div>
				</div>
		</div>
</body>
</html>